.title{
	position: absolute;
	font-size: 100px;
	font-family: 'Lobster', cursive;
	margin: 450px 0px 0px 425px;
	color:rgb(204, 19, 19);
	/* transform: rotateX(150deg); */
}
.title2{
	position: absolute;
	font-size: 100px;
	font-family: 'Lobster', cursive;
	margin: 508px 0px 0px 418px;
	transform: rotateX(120deg) skewX(10deg);
	color: rgba(0, 0, 0, 0.61);
}
.title3{
	position: absolute;
	font-size: 100px;
	font-family: 'Lobster', cursive;
	margin: 445px 0px 0px 425px;
	color:black;
}

#header{
	text-align: left;
	color: Red;
	font-family: 'Yellowtail', cursive;
	position: fixed;
	margin: -50px 0px 0px 85px;
	font-size: 30px;
}

.sign{
	position: fixed;
	margin: 10px 0px 0px 10px;
	background-repeat: no-repeat;
}

.landscape{
	margin: -10px 0px 0px -10px;
}
.landscape2{
	margin: 0px 0px 0px -10px;
}
/* .landscape3{
	margin: 580px 0px 0px -10px;
} */

.titlePageTwo{
	width: 1585px;
	height: 200px;
	background-color: black;
	margin: 0px 0px 0px -10px;
}
.page2Border{
	background-image: url("../img/border2..jpg");
	margin: 0px 0px 0px 990px;
	width: 600px;
	height: 200px;
	position: absolute;
	background-size: 100% 100%;
}
.page2Border2{
	background-image: url("../img/border3.jpg");
	margin: 0px 0px 0px 0px;
	width: 600px;
	height: 200px;
	position: absolute;
	background-size: 100% 100%;
}
.aboutMe{
	width: 100%;
	text-align: center;
	color: rgb(204, 19, 19);
	font-size: 75px;
	margin: -950px 0px 0px 00px;
	text-decoration: underline;
	font-family: 'Lobster', cursive;

}

/* Nav Bar */
/* $nav-height: 3em;
.navbar-fixed {
  position: fixed;
  top: -($nav-height);
} */
.navbar ul{
	position: fixed;
	list-style-type: none;
	margin: 7%;
	margin-top: -50px;
	padding: 0px;
	overflow: hidden;
	background-color:  transparent;
	margin: 0px 0px 0px 10px;


}

.navbar li{
	float: bottom;
	margin-top: 10px;
	background-image: url("../img/nav.jpg");
	background-size: 100% 100%;
	width: 130px;
	height: 50px;
	padding-top: 10px;
}

.navbar li a{
	position: relative;
	display: inline-black;
	color: rgb(204, 19, 19);
	padding: 16px 18px; 
	text-decoration: underline;
	top: 0px;
	left: 10px;
	font-size: 18px;
	font-family: 'Pacifico', cursive;
}

.navbar li:hover{
	transform: rotate(7deg); 
	background-repeat: no-repeat;
}

